<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="title-header">
            Profil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--
    <ion-card class="logo-card">
        <ion-grid>
            <ion-row>
                <ion-col size="4" offset="4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Orange_logo.svg/1022px-Orange_logo.svg.png" alt="">
                </ion-col>
                <ion-col size="12" offset="">
                    <h2 class="title-profil">Orange</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card>
        <ion-card class="compagny-card">
            <ion-grid>
                <ion-row align-items-center>
                    <ion-col size="12" offset="">
                        <h3 class="title-profil">Vos informations:</h3>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
        <ion-grid>
            <ion-row align-items-center>
                <ion-col size="12" offset="">
                    <h3 class="text-profil">
                        Lechat Sébastien
                    </h3>
                </ion-col>
                <ion-col size="12" offset="">
                    <h3 class="text-profil">
                        <ion-icon slot="start" name="mail" class="icon-profil"></ion-icon>
                        seb_le@hotmail.fr
                    </h3>
                </ion-col>
                <ion-col size="11" offset="">
                    <h3 class="text-profil">
                        <ion-icon slot="start" name="call" class="icon-profil"></ion-icon>
                        06.01.48.73.86</h3>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card> -->

    <ion-card class="logo-card" *ngIf="entreprise == true">
        <ion-grid>
            <ion-row>
                <ion-col size="4" offset="4">
                    <img src="{{ user['Entreprise']['logo'] }}" alt="">
                </ion-col>
                <ion-col size="12" offset="">
                    <h2 class="title-profil">{{ user['Entreprise']['nom_entreprise'] }}</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-card *ngIf="entreprise == true">
        <ion-card class="compagny-card">
            <ion-grid>
                <ion-row align-items-center>
                    <ion-col size="12" offset="">
                        <h3 class="title-profil">Vos informations:</h3>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
        <ion-grid>
            <ion-row align-items-center>
                <ion-col size="12" offset="">
                    <h3 class="text-profil">
                        {{ user['nom'] }} {{ user['prenom'] }}
                    </h3>
                </ion-col>
                <ion-col size="12" offset="">
                    <h3 class="text-profil">
                        <ion-icon slot="start" name="mail" class="icon-profil"></ion-icon>
                        {{ user['Entreprise']['email'] }}
                    </h3>
                </ion-col>
                <ion-col size="11" offset="">
                    <h3 class="text-profil">
                        <ion-icon slot="start" name="call" class="icon-profil"></ion-icon>
                        {{ user['Entreprise']['telephone_company'] }}</h3>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <!--
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="12" offset="">
                    <h3 class="title-profil">Lechat Sébastien</h3>
                </ion-col>
                <ion-col size="12" offset="">
                    <h3 class="text-profil">
                        <ion-icon name="bookmark" class="icon-profil"></ion-icon>
                        Bac +2
                    </h3>
                    <h3 class="text-profil">
                        Developpeur Web & Web Mobile
                    </h3>
                </ion-col>
                <ion-col size="12" offset="">
                    <h3 class="text-profil">
                        <ion-icon slot="start" name="mail" class="icon-profil"></ion-icon>
                        seb_le@hotmail.fr
                    </h3>
                </ion-col>
                <ion-col size="12" offset="">
                    <h3 class="text-profil">
                        <ion-icon slot="start" name="call" class="icon-profil"></ion-icon>
                        06.01.48.73.86</h3>
                </ion-col>
                <ion-col size="12" offset="">
                    <h3 class="text-profil">
                        <ion-icon slot="start" name="home" class="icon-profil"></ion-icon>
                        51 Avenue de l'Epargne
                    </h3>
                    <h3 class="text-profil">
                        Morsang Sur Orge - 91390
                    </h3>
                </ion-col>
                <ion-col size="12" offset="">
                    <ion-button expand="block" color="dark" class="btn-profil">Obtenir le CV</ion-button>
                </ion-col>

            </ion-row>
        </ion-grid>
    </ion-card> -->

    <ion-card *ngIf="etudiant == true">
        <ion-grid>
            <ion-row>
                <ion-col size="12" offset="">
                    <h3 class="title-profil">{{ user.nom }} {{ user.prenom }}</h3>
                </ion-col>
                <ion-col size="12" offset="">
                    <h3 class="text-profil">
                        <ion-icon name="bookmark" class="icon-profil"></ion-icon>
                        {{ user['Etudiant']['Formation']['niveau'] }}
                    </h3>
                    <h3 class="text-profil">
                        {{ user['Etudiant']['Formation']['nom_formation'] }}
                    </h3>
                </ion-col>
                <ion-col size="12" offset="">
                    <h3 class="text-profil">
                        <ion-icon slot="start" name="mail" class="icon-profil"></ion-icon>
                        {{ user['Etudiant']['email'] }}
                    </h3>
                </ion-col>
                <ion-col size="12" offset="">
                    <h3 class="text-profil">
                        <ion-icon slot="start" name="call" class="icon-profil"></ion-icon>
                        {{ user['Etudiant']['telephone_student'] }}</h3>
                </ion-col>
                <ion-col size="12" offset="">
                    <h3 class="text-profil">
                        <ion-icon slot="start" name="home" class="icon-profil"></ion-icon>
                        {{ user['Etudiant']['adresse_student'] }}
                    </h3>
                    <h3 class="text-profil">
                        {{ user['Etudiant']['ville_student'] }} - {{ user['Etudiant']['cp_student'] }}
                    </h3>
                </ion-col>
                <ion-col size="12" offset="">
                    <ion-button expand="block" color="dark" class="btn-profil">Voir le CV</ion-button>
                </ion-col>

            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>