<ion-header>
    <ion-toolbar>
        <ion-button slot="start" (click)="close()" type="button">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
        <ion-title class="title-header">
            Description du poste
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    {{ item.nom_entreprise }}
    <!-- <ion-card class="logo-card">
        <ion-grid>
            <ion-row>
                <ion-col size="4" offset="4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Orange_logo.svg/1022px-Orange_logo.svg.png" alt="">
                </ion-col>
                <ion-col size="12" offset="">
                    <h2 class="title-job">Orange</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="12" offset="">
                    <h3 class="title-job">Développeur full Stack JS</h3>
                </ion-col>
                <ion-col size="12" offset="">
                    <h3 class="text-job">
                        <ion-icon name="bookmark" class="icon-job"></ion-icon>
                        Bac +2 - 1 poste
                    </h3>
                </ion-col>
                <ion-col size="12" offset="">
                    <h3 class="descri-job" style="text-align:center">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, sapiente sed! Ab est facilis hic dicta ex sed? Voluptates excepturi ipsam explicabo soluta impedit facilis error molestiae odio reprehenderit fuga.
                    </h3>
                </ion-col>

                <ion-col size="12" offset="">
                    <h3 class="descri-job" style="text-align:center">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, sapiente sed! Ab est facilis hic dicta ex sed?
                    </h3>
                </ion-col>
                <ion-col size="12" offset="">
                    <h3 class="text-job" style="text-align:center">
                        <ion-icon name="calendar" class="icon-job"></ion-icon>Septembre 2019
                    </h3>
                </ion-col>
                <ion-col size="12" offset="">
                    <h3 class="text-job">
                        <ion-icon name="home" class="icon-job"></ion-icon>
                        70 rue Marius Aufan
                    </h3>
                    <h3 class="text-job">
                        Levallois - 92900
                    </h3>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card> -->
</ion-content>