// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.title-header {
    text-align: left;
    font-weight: 900;
}

.title-header-center {
    text-align: center;
    font-weight: 900;
}