<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="title-header">
            Planning
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="card-head">
        <ion-grid>
            <ion-row>
                <ion-col size="12" offset="">
                    <h2 class="title-planning">
                        &#60; JOB DATING /&#62;
                    </h2>
                </ion-col>
                <ion-col size="12" offset="">
                    <h2 class="subtitle-planning">
                        Session 2
                    </h2>
                </ion-col>
                <ion-col size="12" offset="">
                    <h2 class="date-planning">
                        Jeudi 14/07
                    </h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-card class="card-planning" *ngFor="let item of rencontre" (click)="presentModal(item.info_etudiant)">
        <ion-grid>
            <ion-row align-items-center>
                <ion-col size="6" offset="">
                    <h2 class="text-planning">
                        {{ item.info_etudiant.nom }} {{ item.info_etudiant.prenom }}
                    </h2>
                </ion-col>
                <ion-col size="3">
                    <h2 class="text-planning">
                        18h00
                    </h2>
                </ion-col>
                <ion-col size="3" offset="" *ngIf="item.status == 1">
                    <h2 class="status-planning" style="color:green">
                        <ion-icon name="square"></ion-icon>
                    </h2>
                </ion-col>
                <ion-col size="3" offset="" *ngIf="item.status == 2">
                    <h2 class="status-planning" style="color:red">
                        <ion-icon name="square"></ion-icon>
                    </h2>
                </ion-col>
                <ion-col size="3" offset="" *ngIf="item.status == 3">
                    <h2 class="status-planning" style="color:orange">
                        <ion-icon name="square"></ion-icon>
                    </h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>


    <ion-card class="card-planning">
        <ion-grid>
            <ion-row align-items-center>

                <ion-col size="3" offset="1">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Orange_logo.svg/1022px-Orange_logo.svg.png" alt="" width="100%">
                </ion-col>
                <ion-col size="3" offset="2">
                    <h2 class="text-planning">
                        18h00
                    </h2>
                </ion-col>
                <ion-col size="3" offset="">
                    <h2 class="status-planning">
                        <ion-icon name="square"></ion-icon>
                    </h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <div class="card-head" style="margin: 0%;">
        <ion-grid>
            <ion-row align-items-center>
                <ion-col size="9" offset="">
                    <h3 class="footer-planning">Je participe au cocktail :</h3>
                </ion-col>
                <ion-col size="3" offset="">
                    <ion-toggle color="success" checked></ion-toggle>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>